@import "tailwindcss";

/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"); */

@theme {
  /* COLORS */
  --color-lettronix-bg: #e9f5db;
  --color-lettronix_card_bg: #eff8e6;
  --color-lettronix_head_foot_bg: #cfe1a9;
  --color-lettronix_selected: #71835559;
  --color-lettronix_btn: #87986a;
  --color-lettronix-bnt-disabled: #0000004d;
  --color-lettronix_status_act: #37ff00;
  --color-lettronix_status_pause: #fb970c;
  --color-lettronix_status_stop: #ff1a1a;
  --color-lettronix_title_border: #00000019;
  --color-lettronix_img_class: #cfe1b91e;
  /* PROGRESS BAR COLORS */
  --color-lettronix_progressbar_bg: #97a97c;
  --color-lettronix_progressbar_fg: #718355;
  /* EFFECTS */
  --drop-shadow-all-fx: 4px 4px 4px rgba(0, 0, 0, 0.25);
  --inset-shadow-all-fx: 6px 6px 6px rgba(0, 0, 0, 0.25);

  /* FONT STYLES */
  --font-Inter: Inter, Times;
}
