@import "tailwindcss";

/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"); */

@theme {
  /* COLORS */
  --color-lettronix-bg: #eff8e6;
  --color-lettronix-card-bg: #eff8e6;
  --color-lettronix-card-border: #d2e3c5;
  --color-lettronix-head-foot-bg: #cfe1a9;

  --color-lettronix-selected: #afc09c;
  --color-lettronix-hover: #eff7e5;
  --color-lettronix-btn: #cdd9bf;
  --color-lettronix-btn-disabled: #b2b5af;
  --color-lettronix-status-act: #37ff00;
  --color-lettronix-status-pause: #fb970c;
  --color-lettronix-status-stop: #ff1a1a;
  --color-lettronix-title-border: #00000019;
  --color-lettronix-img-class: #cfe1b91e;

  /* PROGRESS BAR COLORS */
  --color-lettronix-progressbar-bg: #97a97c;
  --color-lettronix-progressbar-fg: #718355;

  /* ACTIVITY STATUS COLORS */
  --color-status-active: #0cd66b;
  --color-status-pause: #f2c913;
  --color-status-stop: #d30d5e;
  /* PARAMETER COLORS */
  --color-TDS-param: #5eead4;
  --color-pH-param: #f9a8d4;
  --color-TEMPERATURE-param: #fcd34d;
  --color-HUMIDITY-param: #7dd3fc;
  /* FOOTER BUTTON */
  --color-lettronix-footer-hover: #eff7e5;
  --color-lettronix-footer-selected: #eff7e5;
  /* EFFECTS */
  --drop-shadow-all-fx: 2px 2px 2px rgba(0, 0, 0, 0.25);
  --drop-shadow-btn-fx: 1px 1px 1px rgba(0, 0, 0, 0.1);
  --inset-shadow-inward-all-fx: inset 2px 2px 2px rgba(0, 0, 0, 0.25);

  /* FONT STYLES */
  --font-Inter: Inter, Times;
}
